configuration {
	font: "ShureTech Mono Nerd Font 11";

	timeout {
		delay: 30;
		action: "kb-cancel";
	}
}

* {
	border: 1;
	margin: 0;
	padding: 0;
	spacing: 0;

	bg: #1a1b26;
	bg-alt: #232433;
	fg: #6a6f87;
	fg-alt: #a9b1d6;

	background-color: @bg-alt;
	text-color: @fg-alt;
	border-color: @fg;
}

window {
	location: north;
	y-offset: 110;
	transparency: "real";
	width: 400px;
}

mainbox {
	children: [inputbar];
}

inputbar {
	background-color: inherit;
	children: [entry];
}

entry {
	horizontal-align: 0.5;
	background-color: inherit;
	padding: 13px;
}

