
/* Dracula */
@define-color background #1E1F29;
@define-color background-alt #282A36;
@define-color foreground #FFFFFF;
@define-color selected #BD93F9;
@define-color active #FF5555;
@define-color urgent #FF5555;

* {
	border: none;
	font-family: ShureTechMono Nerd Font;
	padding: 2px;
	margin: 0;
}

window#waybar {
	font-size: 14px;
	background: @background-alt;
	color: @foreground;
}

tooltip {
	background-color: @background-alt;
	font-size: 13px;
	text-shadow: none;
	border-radius: 2px;
	border: 2px solid @selected;
}

tooltip * {
	color: @foreground;
	text-shadow: none;
}

#workspaces {
	font-family: ShureTechMono Nerd Font Mono;
	font-size: 16px;
	color: @foreground;
	padding: 0 2px 0 2px;
}

#workspaces button {
	color: alpha(@foreground, 0.7);
	padding: 0 12px 0 0;
	margin: 0 3px 0 0;
}

#workspaces button.active {
	color: @active;
}

#workspaces button.selected {
	all: initial;
	color: @selected;
	padding: 0 4px;
	margin: 0 1px;
}

#workspaces button:hover {
	color: @selected;
	background: transparent;
}

#workspaces button.urgent {
	color: @urgent;
}

#battery,
#network,
#tray {
	padding: 0 5px;
	margin: 0 2px;
}

#clock,
#tray {
	padding: 0 4px;
}

#battery.warning.charging {
	color: @foreground;
}

#battery.critical {
	color: #e06c75;
}

#window {
	color: alpha(@foreground, 0.7);
	padding: 0 8px;
}
